/* variable */

:root {
  --primary: #f15b22;
  --secondary: #151414;
  --text: #444343;
  --white: #ffffff;
}

/* default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

p {
  line-height: 26px;
}

main,
footer .container {
  max-width: 1140px;
  margin: auto;
}

/* reusable */

.primary-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--primary);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: all .5s;
}

.primary-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--white);
}

.section-title {
  font-size: 40px;
  color: var(--econdary);
}

.section-desc {
  padding-top: 24px;
  padding-bottom: 16px;
  color: var(--text);
}

/* header start */

header {
  background-image: url("../assets/images/banner/banner1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 200px 10px 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-info {
  width: 50%;
  padding: 100px 0;
  text-align: right;
}

.header-title {
  color: var(--secondary);
  font-size: 65px;
  font-weight: 700;
}

.header-desc {
  padding: 24px 0;
}


/* header end */

/* main start */

/* failure section */

.failure {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.failure-img {
  background-image: url("../assets/images/");
}

.failure-img .rounded {
  width: 528px;
  height: 528px;
  border-radius: 50%;
  background: #f15b2233;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.failure-info {
  padding: 0 80px;
}

.failure-info .section-title {
  width: 80%;
}

.failure-list {
  list-style: none;
}

.failure-list li {
  padding: 4px 0;
}

.failure-list li i {
  color: #16D887;
}

/* failure section */

/* my plan section */

.my-plan {
  margin: 100px 0;
}

.my-plan .section-title {
  text-align: center;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  text-align: center;
}

.plan-item h3 {
  padding-top: 24px;
}

.plan-item p {
  color: #737272;
}

/* my plan section */

/* call now section start */

.call-now {
  background-image: url('../assets/images/gradient2.png'), url('../assets/images/watch.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center, center center;
  border-radius: 8px;
  padding: 60px;
  margin: 100px 0;
}

.call-now .section-title {
  margin-bottom: 45px;
  color: var(--white);
}


/* call now section end */

/* main end */

/* foorer start */

footer {
  background-color: var(--secondary);
}

footer div,
footer .section-desc {
  color: var(--white);
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.footer-info .section-desc {
  max-width: 500px;
}

.contact-info p {
  margin-bottom: 16px;
}

.social-links {
  padding-top: 8px;
  display: flex;
  gap: 24px;
}

.subscribe .section-title {
  font-size: 25px;
}
.subscribe input[type="email"] {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 16px;
  margin: 16px 0;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 8px;
  outline: 0;
}

.subscribe input[type="email"]::placeholder {
  color: var(--white);
}

/* foorer end */